@font-face {
    font-family: 'Roboto';
    src: url('frontend/assets/fonts/roboto/Roboto-Medium.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('frontend/assets/fonts/roboto/Roboto-MediumItalic.ttf');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('frontend/assets/fonts/roboto/Roboto-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('frontend/assets/fonts/roboto/Roboto-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('frontend/assets/fonts/roboto/Roboto-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('frontend/assets/fonts/roboto/Roboto-ThinItalic.ttf');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('frontend/assets/fonts/roboto/Roboto-Black.ttf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('frontend/assets/fonts/roboto/Roboto-BlackItalic.ttf');
    font-weight: 900;
    font-style: italic;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'sans-serif';
}