.play-game-page {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  min-width: 100vw;
  background: radial-gradient(150% 150% at 100% 100%, #FFFFFF00 0%, #dd99fe 100%),
  radial-gradient(150% 150% at 0% 100%, #00FFFF00 0%, #FF1010FF 100%),
  radial-gradient(75% 75% at 50% 50%, #00FFFFFF 0%, #073AFFFF 100%);
}

.white-field {
  background-color: #e8edf9;
}

.black-field {
  background-color: #b7c0d8;
}

.figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 2;
}

.selected {
  background-color: rgba(0, 255, 225, 0.455);
}

.available {
  position: absolute;
  background-color: rgba(0, 98, 246, 0.87);
  margin: 35% 35% 35% 35%;
  z-index: 3;
  height: 30%;
  width: 30%;
  border-radius: 50%;
}

.attacked {
  position: absolute;
  background-image: radial-gradient(circle, rgb(255, 0, 0), transparent);
  z-index: 1;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.chessboard-page {
  display: flex;
  min-height: 100vh;
}


.game-information-container {
  margin-top: 5%;
  margin-right: 5%;
  height: 40vw;
  display: flex;
  flex-direction: column;
  flex: 1 1 30rem;
  background-color: rgba(255, 255, 255, 0.20);
  border-radius: 15px;
  justify-content: space-between;
  box-shadow: 15px 20px 40px rgba(0, 0, 0, .2);
  min-width: 20rem;
}

#game-id {
  align-self: center;
  padding: 10px;
  border-radius: 15px;
  color: #fff;
  font-size: 0.7rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.24);
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  margin-bottom: 20px;

  > span {
    overflow-y: hidden;
    margin-bottom: 0;
  }
}

.game-container {
  margin-top: 5%;
  display: grid;
  flex: 1 1 40vw;
  max-width: 80vw;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 1fr;
  min-width: 25rem;
}



.chessboard-container {
  width: 95%;
  max-width: 80vh;
  min-width: 20rem;
  position: relative;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 2rem;
  aspect-ratio: 1/1;
  margin-bottom: 2rem;
  box-shadow: 15px 20px 12px rgba(0, 0, 0, 0.4);
}

.chessboard {
  width: 95%;
  margin-top: 5%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: 1fr;
  aspect-ratio: 1/1;
}

.moves-field {
  padding: 1rem;
  justify-self: flex-end;
  font-size: 1.2rem;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.35);
  height: 40%;
  margin: 1rem;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, .2);

  > h3 {
    color: #fff;
  }
}

.chess-field {
  width: 100%;
  height: 100%;
  object-fit: contain;
  aspect-ratio: 1/1;
  max-width: 100%;
  position: relative;

}

.number-field {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
}

.move-input-controls {
  align-self: center;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 6rem;

  .form-move-input-controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    > label {
      color: white;
      font-size: 1.5rem;
    }
  }
}

.move-input-primary {
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  background-color: #f2f2f2;
  color: black;
  border: 2px solid transparent;
  width: 40%;

  &:hover {
      background-color: #e6e6e6;
  }

  &:focus {
      outline: none;
      border: 2px solid black;
  }
}


@media(max-aspect-ratio:5/4) {
  .chessboard-page{
    flex-wrap: wrap;
    height: 100%;
  }
  .game-information-container{
    height: 20rem;
    max-width: 76vw;
    margin-bottom: 4rem;
  }
  .game-container{
    min-width: 80vw;
  }
}