.bg-custom-dark {
  background: linear-gradient(to right, #24243e, #6f59a0, #0f0c29);
}

.bg-custom-light {
  background: linear-gradient(to right, #cae0ff, #f0f0f0, #fff3e4);
}

.main-board {
  width: 100%;
}